header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

header ul {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  font-size: 1rem;

  margin: 0 0.5rem;
}

header a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--ctp-mocha-green);
}
header a:hover {
  fill: var(--ctp-mocha-lavender);
}
header a:visited {
  color: var(--ctp-mocha-green);
}

header a[target="_blank"]::after {
  content: none;
}

header svg {
  height: 2rem;
  margin: 0 -0.5rem;
  display: inline-block;
  fill: var(--ctp-mocha-green);
}

header a:hover svg {
  fill: var(--ctp-mocha-lavender);
}
